<h2>{{ title }}: {{user.name}}</h2>
<div class="row">
  <div class="col-md-6 well">
    <form [ngFormModel]="addUserForm" (ngSubmit)="save()">
      <fieldset>
        <legend>User Information</legend>
        <!--- NAME -->
        <div class="form-group">
          <label for="name">Name*</label>
          <input
            ngControl="name"
            #name="ngForm"
            id="name"
            type="text"
            class="form-control"
            [(ngModel)]="user.name">
        </div>
        <!--- Validating name -->
        <div *ngIf="name.touched && ! name.valid" class="alert alert-danger">
          Name is required.
        </div>

       <!-- EMAIL -->
        <div class="form-group">
          <label for="email">E-mail*</label>
          <input
            ngControl="email"
            #email="ngForm"
            id="email"
            type="email"
            class="form-control"
            [(ngModel)]="user.email">
        </div>
        <!--- Validating E-Mail -->
        <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
          Must enter a valid email.
        </div>

        <!-- PHONE -->
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            ngControl="phone"
            id="phone"
            type="text"
            class="form-control"
            [(ngModel)]="user.phone">
        </div>
      </fieldset>
      <fieldset ngControlGroup="address">
        <legend>Address</legend>
        <div class="form-group">
          <label for="street">Address 1</label>
          <input
            ngControl="street"
            id="street"
            type="text"
            class="form-control"
            [(ngModel)]="user.address.street">
        </div>
        <div class="form-group">
          <label for="suite">Address 2</label>
          <input
            ngControl="suite"
            id="suite"
            type="text"
            class="form-control"
            [(ngModel)]="user.address.suite">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input
            ngControl="city"
            id="city"
            type="text"
            class="form-control"
            [(ngModel)]="user.address.city">
        </div>
        <div class="form-group">
          <label for="zip">Zip Code</label>
          <input
            ngControl="zip"
            id="zip"
            type="text"
            class="form-control"
            [(ngModel)]="user.address.zipcode">
        </div>
        <div class="form-group">
          <p>* Required fields</p>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addUserForm.valid">
              Save
            </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
